<div class="row">
  <div  class="col-lg-12 content jazzfest">
    <h1>{{location?.name}}</h1>

    <img *ngIf="location?.imageUrl" src="{{ location.imageUrl }}" alt="{{ location.name }}" class="img-responsive"/>

    <div class="">
      <a *ngIf="location?.web" href="http://{{ location?.web }}">{{ location.name }}</a>
    </div>

    <ul>
      <li><span *ngIf="location?.zip">{{ location.zip }}</span>&#160;<span *ngIf="location?.city">{{ location.city }}</span></li>
      <li *ngIf="location?.street">{{ location.street }}</li>
      <li *ngIf="location?.phone">Telefon: {{ location.phone }}</li>
      <li *ngIf="location?.fax">Fax: {{ location.fax }}</li>
      <li *ngIf="location?.email"><a href="mailto:{{ location.email }}">{{ location.email }}</a></li>
    </ul>
    <button type=button class="btn" routerLink="/schedule" routerLinkActive="active">alle Termine</button>
  </div>
</div>
