/*
$orange: #F6882F;
$yellow: #fcef5f
$dark: #494301;
light: #C4B724;

http://paletton.com/#uid=33i100kvMt4aJrRl+s9IgpIUnmd

font-family: $font-family;



*/
$yellow: #fcef5f;
$content-light: #cee5b7;
$content-dark: #313d26;
$content-link-hover: lightgray;

$bree: 'Bree serif', sans-serif;

$header: #494301;

body {
    text-align: center;
    background-color: $yellow;
    color: $content-dark;
    font-size: 180%;
}

.logo {
  margin-top: 30px;
}

footer {
  background-color: black;
  color: $yellow;
  padding: 15px 0;
  margin-top: 45px;
}

footer h4, footer a {
  color: $yellow;
}

.band, .date, .location {

  color: $content-light;
  background-color: $content-dark;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  padding: 5px 0;
}

.featuring {
  margin: 35px 0;
}

.band {
  background-color: $content-light;
  margin-top:20px;
}

.band a {
  font-size: 240%;
  color: $content-dark;
}

.location a {
  font-size: 240%;
  color: $content-light;
}



.jazzfest p, .jazzfest ul {
    align-content: stretch;
    max-width: 650px;
    text-align: left;
    padding: 25px;
    margin: auto;
}

ul.musician-instrument {
  padding: 1px 0;
}

.musicians {
  text-align: left;
}

.musician-instrument li {
  display: inline;
}

.header {
    background-color: #202743;
    padding: 90px 0 0;
}

.img-responsive {
    display: inline;
}

.content img {
    margin-top: 30px;
    margin-bottom: 20px;
    border: 5px solid #494301;
}

img {
  margin-top: 30px;
  margin-bottom: 20px;
}

ul {
    list-style:none;
}

h1, h2, h3, h4 {
  color: $header;
  font-family: $bree;
  font-weight: 7;
}

h1 {
  margin: 30px 0;
  font-size:  200%;
}

h2{
  font-size: 180%;
  margin: 25px 0 8px;
}

h3 {
  font-size: 160%;
}

h4 {
  font-size: 140%;
}

p {
    text-align: left;
    padding-top: 0;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.nav, .navbar, .navbar-nav, .navbar-collapse, .navbar-default {
  background-color: black;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  font-weight: bold;
  color: #ffffff;
}

.navbar-default  .navbar-nav  .active {
  color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
  font-weight: bold;
  text-decoration: none;
  color: #fcef5f;
}

.date {
  font-size: 200%;
}

.row .schedule {
  margin-right: 0;
  margin-left: 0;
}

.schedule a {
  font-size: 200%;
}

.schedule {
  padding: 0;
  background-color: $content-light;
  margin-bottom: 50px;
}

.band > p {
    color: #800909;
    padding-left:10px;
}

.band li {
    display: inline;
}

.band-detail {
    background-color: $content-light;
}

.datetime {
    margin: 18px 0;
    padding-bottom: 18px;
    border-bottom: 4px dotted #f8ab29;
}

.datetime:first-child {
    border-top: 4px dotted #f8ab29;
    padding-top: 18px;
}
.datetime:last-child  {
    border-bottom: 0px;
}

.article {
    width: 90%;
    padding: 0 10px;
    margin: 0;
}

.article li{
    display:block;
    width: 600px;
    padding:5px 0 3px;
    margin:0;
}

a {
    color: #313d26;
}

a:hover {
    color: darkgray;
}

.year:after {
    content:' | ';
}

.year:last-child:after {
    content: '';
}

.sponsor {
    width: 90px;
    height: 135px;
    text-align: center;
    padding: 15px 0;
}

.header img {
    margin:0;
}

.map {
    margin: 25px 0;
    width: 100%;
}
