/*
$orange: #F6882F;
$yellow: #fcef5f
$dark: #494301;
light: #C4B724;

http://paletton.com/#uid=33i100kvMt4aJrRl+s9IgpIUnmd

*/
body {
    text-align: center;
    background-color: #fcef5f;
    color: #313d26;
    font-size: 190%;
}

.logo {
  margin-top: 30px;
}

footer {
  background-color: #494301;
  color: white;
  padding: 15px 0;
  margin-top:45px;
}

.content{
    background-color: #cee5b7;
    border: 12px solid #313d26;
    border-radius: 9px;
    padding:10px;
    margin-bottom: 20px;
}

.band, .date, .featuring, .location {
  font-size: 170%;
  font-family: 'Bitter';
  color: #313d26;
}

.band {
  margin-top:20px;
  color: lightgray;
}

.band a {
  color: #313d26;
}

.location {
  margin-top: 20px;
}

.location a {
  color: lightgray;
}

.date, .location {
  background-color: #313d26;
  color: lightgray;
  border-radius: 3px;
  padding:5px;
  text-align: center;
}


.jazzfest p, .jazzfest ul {
    align-content: stretch;
    max-width: 650px;
    text-align: left;
    padding: 25px;
    margin: auto;
}

ul.musician-instrument {
  padding: 1px 0;
}

.musicians {
  text-align: left;
}

.musician-instrument li {
  display: inline;
}

.header {
    background-color: #202743;
    padding: 90px 0 0;
}

.termine {
}

.img-responsive {
    display: inline;
}

.content img {

    margin-top: 30px;
    margin-bottom: 20px;
    border: 5px solid #494301;
}

ul {
    list-style:none;
}

h1 {
    color: dark-gray;
    font-family: 'Bitter';
    margin: 30px 0;
}

h2, .navi {
}
h2{
    font-size: 180%;
    margin: 25px 0 8px;
}

h3 {
    font-size: 140%;
}

h4 {
    color: #C4C9DA;
    font-size: 100%;
    line-height: 100%;
    padding: 3px 0 0;
    margin: 10px 0;
    font-weight:normal
}

p {
    text-align: left;
    padding-top: 0;
}

.impressum {
    font-size: 130%;
    line-height: 120%;
    width: 90%;
    padding: 0 15px;
}

h3.impressum {
    margin: 30px 0 10px;
    font-size: 260%;
    text-align: left;
}


.schedule {
    padding:5px 0px;
    margin:10px 0;
}

nav {
  margin: 35px 0;
}

nav li {
  display: inline;
  font-size: 200%;
  color: #313d26;
  font-weight: bold;
  border-bottom: 5px solid #494301;
  margin: 10px 25px;
}

nav li:hover, navl li:active {
  border-bottom: 5px solid #C4B724;
}

nav li a, nav li a:hover, nav li a:active, nav li a:visited {
  text-decoration: none;
  color: #494301;
}

.band > p {
    font-family: 'Bitter';
    color: #800909;
    font-size: 120%;
    line-height:120%;
    padding-left:10px;
}

.band li {
    display: inline;
}

.bandDetail {
    text-align: left;
    margin:30px 30px;
}

.bandDetail p, ul {
    margin: 7px 0;
    font-size: 130%;
}

.datetime {
    margin: 18px 0;
    padding-bottom: 18px;
    border-bottom: 4px dotted #f8ab29;
}

.datetime:first-child {
    border-top: 4px dotted #f8ab29;
    padding-top: 18px;
}
.datetime:last-child  {
    border-bottom: 0px;
}

.article {
    width: 90%;
    padding: 0 10px;
    margin: 0;
}

.article li{
    display:block;
    width: 600px;
    padding:5px 0 3px;
    margin:0;
}

a {
    color: #313d26;
}

a:hover {
    color: darkgray;
}

.navi li a {
    display: block;
    text-decoration: none;
    color: #C4C9DA;
    padding: 3px 19px;
    border-radius: 3px;
}

.navi li a:hover {
    color: #202743;
    background-color: #4d515f;
}

.year:after {
    content:' | ';
}

.year:last-child:after {
    content: '';
}

.sponsor {
    width: 90px;
    height: 135px;
    text-align: center;
    padding: 15px 0;
}

.bandlist .link, .band .link {
    font-size: 100%;
}

p.address {
    margin:3px 0;
    padding:2px 30px;
    font-size: 120%;

}

.address-about {
    text-align: left;
}

.address-about li {
    padding: 4px 0px;
}

.line {
    margin: 30px 0;
    width: 99%;
    border-bottom: 4px dotted #f8ab29;
}

label.ng-binding, .current-filter {
    color: white;
}

.right-column > button {
    margin-bottom: 10px;
}

ul#select-year>li>input {
    margin: 0 0 4px 0;
}

.header img {
    margin:0;
}

.map {
    margin: 25px 0;
    width: 100%;
}
