/*
$orange: #F6882F;
$background: #fcef5f
$dark: #494301;
light: #C4B724;

http://paletton.com/#uid=33i100kvMt4aJrRl+s9IgpIUnmd

font-family: $font-family;
*/

$background: #66CCFF;
$header: #66CCFF;
// $content-light: #cee5b7;
$content-light: #FFFFFF;
$content-dark: #CC3366;
$content-yellow: #FFFF99;
$box-light: #66CCFF;
$box-dark: #66CCFF;
$content-link-hover: lightgray;

$bree: 'Bree serif', sans-serif;

// $header: #494301;


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

body {
    text-align: center;
    background-color: $background;
    color: #FFFFFF;
    font-size: 180%;
}

.logo {
  margin-top: 30px;

}

header {
  background-color: $header;
}

footer {
  background-color: black;
  color: $background;
  padding: 15px 0;
  margin-top: 45px;
}

footer h4, footer a {
  color: $content-dark;
}

.date, .location {
  color: $content-light;
  background-color: $box-dark;
  padding: 15px 0;
}

.band, .date, .location {
  text-align: center;
  font-family: $bree;
  font-size: 120%;
}

.featuring {
  margin: 15px 0;
}

.band {
  padding: 15px 0;
}

.band a {
  font-size: 140%;
  color: $content-dark;
}

.schedule a {
  color: $content-dark;
}

.schedule, .band-detail, .location-detail {
  padding: 0;
  background-color: $box-light;
  margin-bottom: 50px;
  border: 8px dotted white;
  border-radius: 25px;
}

.schedule .row {
  margin-left: 0;
  margin-right: 0;
}

.location a {
  color: $content-yellow;
}

.location a:hover {
  color: $content-dark;
}

ul.location-address li span {
  font-size: 22px;
}

.jazzfest p, .jazzfest ul {
    align-content: stretch;
    max-width: 650px;
    text-align: left;
    padding: 25px;
    margin: auto;
}

ul.musician-instrument {
  padding: 1px 0;
}

.musicians {
  text-align: left;
}

.musician-instrument li {
  display: inline;
}

.header {
    background-color: #202743;
    padding: 90px 0 0;
}

.img-responsive {
    display: inline;
}

.content img {
    margin-top: 30px;
    margin-bottom: 20px;
    border: 5px solid #494301;
}

img {
  margin-top: 30px;
  margin-bottom: 20px;
}

ul {
    list-style:none;
}

h1, h2, h3, h4 {
  color: $header;
}

h1, h2, h3, h4 {
  font-family: $bree;
  font-weight: 7;
  color: $content-dark;
}

h1 {
  margin: 30px 0;
  font-size:  200%;
}

h2{
  font-size: 180%;
  margin: 25px 0 8px;
}

h3 {
  font-size: 160%;
}

h4 {
  font-size: 140%;
}

p {
    text-align: left;
    padding-top: 0;
}

a {
  font-size: 160%;
  color: $content-light;

}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.nav, .navbar, .navbar-nav, .navbar-collapse, .navbar-default {
  background-color: black;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  font-weight: bold;
  color: #ffffff;
}

.navbar-default  .navbar-nav  .active {
  color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
  font-weight: bold;
  text-decoration: none;
  color: #fcef5f;
}


.band > p {
    color: #800909;
    padding-left:10px;
}

.band li {
    display: inline;
}

.band-detail {
    background-color: $box-light;
    padding:25px 0;
}

a {
    color: $content-dark;
}

a:hover {
    color: $content-yellow;
}

.sponsor {


 .sponsor-logo {
   margin-top:30px;
   background-color: white;
   vertical-align: middle;
 }

  p, a {
    text-align: center;
  }

  p {
    margin-top: 15px;
  }
  a {
    margin-bottom: 15px;
  }
}

hr {
  border: 1px solid black;
}
